<a href="https://colab.research.google.com/github/ce3tnia/MachineLearning/blob/master/MachineLearning2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# for visualizations
import matplotlib.pyplot as plt

# for market basket analysis
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/My Drive/MachineLearning/Market_Basket_Optimisation.csv', header=None, names=['item_'+str(i) for i in range(1,21)])
data.head()

          item_1     item_2      item_3  ...          item_18  item_19    item_20
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [ ]:
# making each customers shopping items an identical list
trans = []
for i in range(0, 7501):
    trans.append([str(data.values[i,j]) for j in range(0, 20)])

# conveting it into an numpy array
trans = np.array(trans)

# checking the shape of the array
print(trans.shape)

(7501, 20)

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
data = te.fit_transform(trans)
data = pd.DataFrame(data, columns = te.columns_)

# getting the shape of the data
data.tail()

       asparagus  almonds  antioxydant juice  ...   yams  yogurt cake  zucchini
7496       False    False              False  ...  False        False     False
7497       False    False              False  ...  False        False     False
7498       False    False              False  ...  False        False     False
7499       False    False              False  ...  False        False     False
7500       False    False              False  ...  False         True     False

[5 rows x 121 columns]

In [ ]:
data = data.drop(columns=['nan'])

In [ ]:
from mlxtend.frequent_patterns import apriori
from datetime import datetime

time_start = datetime.now()
frequent_itemsets_ap = apriori(data, min_support = 0.01, use_colnames = True)
time_finish = datetime.now()
duration = time_finish - time_start
print('Apriori Time', duration)

frequent_itemsets_ap

Apriori Time 0:00:00.161587

      support                                 itemsets
0    0.020397                                (almonds)
1    0.033329                                (avocado)
2    0.010799                         (barbecue sauce)
3    0.014265                              (black tea)
4    0.011465                             (body spray)
..        ...                                      ...
252  0.011065       (ground beef, milk, mineral water)
253  0.017064  (ground beef, mineral water, spaghetti)
254  0.015731         (milk, mineral water, spaghetti)
255  0.010265    (olive oil, mineral water, spaghetti)
256  0.011465     (pancakes, mineral water, spaghetti)

[257 rows x 2 columns]

In [ ]:
import mlxtend
print(mlxtend.__version__)

0.17.3

In [ ]:
!pip install mlxtend
!pip install mlxtend --upgrade --no-deps

Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (0.17.3)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.0.5)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.16.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend) (49.6.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->mlxtend) (1.15.0)
Requirement already up-to-date: mlxtend in /usr/local/lib/python3.6/dist-packages (0.17.3)

In [ ]:
from mlxtend.frequent_patterns import fpgrowth
from datetime import datetime

time_start_fp = datetime.now()
frequent_itemsets_fp = fpgrowth(data, min_support=0.01, use_colnames=True)
time_finish_fp = datetime.now()
duration_fp = time_finish_fp - time_start_fp
print('FP-Tree Time', duration_fp)

frequent_itemsets_fp

FP-Tree Time 0:00:00.153512

      support                   itemsets
0    0.238368            (mineral water)
1    0.132116                (green tea)
2    0.076523           (low fat yogurt)
3    0.071457                   (shrimp)
4    0.065858                (olive oil)
..        ...                        ...
252  0.011465            (burgers, cake)
253  0.014131          (green tea, cake)
254  0.010265  (frozen vegetables, cake)
255  0.011865           (pancakes, cake)
256  0.010265   (cereals, mineral water)

[257 rows x 2 columns]

In [ ]:
from mlxtend.frequent_patterns import association_rules

rules_ap = association_rules(frequent_itemsets_ap, metric="confidence", min_threshold=0.4)
rules_fp = association_rules(frequent_itemsets_fp, metric="confidence", min_threshold=0.4)

In [ ]:
rules_ap

                       antecedents      consequents  ...  leverage  conviction
0                    (ground beef)  (mineral water)  ...  0.017507    1.305401
1                      (olive oil)  (mineral water)  ...  0.011898    1.310962
2                         (salmon)  (mineral water)  ...  0.006927    1.272045
3                           (soup)  (mineral water)  ...  0.011020    1.401255
4                (chocolate, eggs)  (mineral water)  ...  0.005552    1.281394
5         (chocolate, ground beef)  (mineral water)  ...  0.005434    1.447937
6                (chocolate, milk)  (mineral water)  ...  0.006340    1.349656
7           (chocolate, spaghetti)  (mineral water)  ...  0.006522    1.279541
8              (ground beef, eggs)  (mineral water)  ...  0.005365    1.543848
9                     (milk, eggs)  (mineral water)  ...  0.005724    1.322834
10       (frozen vegetables, milk)  (mineral water)  ...  0.005440    1.434136
11  (frozen vegetables, spaghetti)  (mineral water)  ...  0.005357    1.337656
12             (milk, ground beef)  (mineral water)  ...  0.005822    1.532552
13    (ground beef, mineral water)      (spaghetti)  ...  0.009938    1.416470
14        (ground beef, spaghetti)  (mineral water)  ...  0.007722    1.348914
15               (milk, spaghetti)  (mineral water)  ...  0.007278    1.368879
16          (olive oil, spaghetti)  (mineral water)  ...  0.004799    1.378954
17           (pancakes, spaghetti)  (mineral water)  ...  0.005459    1.397557

[18 rows x 9 columns]

In [ ]:

rules_fp

                       antecedents      consequents  ...  leverage  conviction
0                      (olive oil)  (mineral water)  ...  0.011898    1.310962
1           (olive oil, spaghetti)  (mineral water)  ...  0.004799    1.378954
2                         (salmon)  (mineral water)  ...  0.006927    1.272045
3                (milk, spaghetti)  (mineral water)  ...  0.007278    1.368879
4                (chocolate, milk)  (mineral water)  ...  0.006340    1.349656
5                     (milk, eggs)  (mineral water)  ...  0.005724    1.322834
6                           (soup)  (mineral water)  ...  0.011020    1.401255
7   (frozen vegetables, spaghetti)  (mineral water)  ...  0.005357    1.337656
8        (frozen vegetables, milk)  (mineral water)  ...  0.005440    1.434136
9                (chocolate, eggs)  (mineral water)  ...  0.005552    1.281394
10          (chocolate, spaghetti)  (mineral water)  ...  0.006522    1.279541
11           (pancakes, spaghetti)  (mineral water)  ...  0.005459    1.397557
12                   (ground beef)  (mineral water)  ...  0.017507    1.305401
13    (ground beef, mineral water)      (spaghetti)  ...  0.009938    1.416470
14        (ground beef, spaghetti)  (mineral water)  ...  0.007722    1.348914
15             (milk, ground beef)  (mineral water)  ...  0.005822    1.532552
16        (chocolate, ground beef)  (mineral water)  ...  0.005434    1.447937
17             (ground beef, eggs)  (mineral water)  ...  0.005365    1.543848

[18 rows x 9 columns]

In [ ]:
rules_fp['length'] = rules_fp['antecedents'].apply(lambda x: len(x))
rules_fp[ (rules_fp['confidence'] >= 0.3) & (rules_fp['length'] == 2) ]

                       antecedents      consequents  ...  conviction  length
1           (olive oil, spaghetti)  (mineral water)  ...    1.378954       2
3                (milk, spaghetti)  (mineral water)  ...    1.368879       2
4                (chocolate, milk)  (mineral water)  ...    1.349656       2
5                     (milk, eggs)  (mineral water)  ...    1.322834       2
7   (frozen vegetables, spaghetti)  (mineral water)  ...    1.337656       2
8        (frozen vegetables, milk)  (mineral water)  ...    1.434136       2
9                (chocolate, eggs)  (mineral water)  ...    1.281394       2
10          (chocolate, spaghetti)  (mineral water)  ...    1.279541       2
11           (pancakes, spaghetti)  (mineral water)  ...    1.397557       2
13    (ground beef, mineral water)      (spaghetti)  ...    1.416470       2
14        (ground beef, spaghetti)  (mineral water)  ...    1.348914       2
15             (milk, ground beef)  (mineral water)  ...    1.532552       2
16        (chocolate, ground beef)  (mineral water)  ...    1.447937       2
17             (ground beef, eggs)  (mineral water)  ...    1.543848       2

[14 rows x 10 columns]